<template>
<div>
  <!-- About -->
  <div id="about-container">
    <!-- Contact Button -->
    <v-list subheader>
      <v-subheader class="settings-subheader">CONTACT</v-subheader>
      <v-list-tile>
        <v-list-tile-content @click="contact_dialog = !contact_dialog">
          <v-list-tile-title>Feedback to StudyUp</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>

    <v-divider></v-divider>

    <!-- Data policy and impressum Buttons -->
    <v-list subheader>
      <v-subheader class="settings-subheader">INFOS</v-subheader>
      <v-list-tile>
        <v-list-tile-content @click="data_dialog = !data_dialog">
          <v-list-tile-title>Data Policy</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile>
        <v-list-tile-content @click="impressum_dialog = !impressum_dialog">
          <v-list-tile-title>Impressum</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>

    <v-divider></v-divider>

    <!-- Version Info -->
    <v-list subheader>
      <v-subheader class="settings-subheader">VERSION</v-subheader>
      <v-list-tile>
        <v-list-tile-content id="version-info">
          <v-list-tile-title>{{ version }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>

  </div>

  <!-- *********** Dialogs ***********-->
  <!-- Contact Formular -->
  <v-dialog v-model="contact_dialog" width="500">
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>
        StudyUp
      </v-card-title>

      <v-card-text>
        <v-flex xs12>
          <v-form ref="form">
            <v-textarea v-model="message" auto-grow box color="deep-purple" label="Message to us.." rows="2" :rules="[rules.required, rules.min_description]"></v-textarea>
          </v-form>
        </v-flex>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" flat @click="contact_dialog = !contact_dialog">Close</v-btn>
        <v-btn color="primary" flat @click="contactUs">Send</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <!-- Data policy -->
  <v-dialog v-model="data_dialog" width="500">
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>Data Policy</v-card-title>

      <v-card-text>
        <v-flex xs12>
          <h4>Titel #1</h4>
          <p>Lorem Ipsum e lodore</p>
          <h4>Titel #1</h4>
          <p>Lorem Ipsum e lodore</p>
          <h4>Titel #1</h4>
          <p>Lorem Ipsum e lodore</p>
        </v-flex>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" flat @click="data_dialog = !data_dialog">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <!-- Impressum -->
  <v-dialog v-model="impressum_dialog" width="500">
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>Impressum</v-card-title>

      <v-card-text>
        <v-flex xs12>
          <h4>Titel #1</h4>
          <p>Lorem Ipsum e lodore</p>
          <h4>Titel #1</h4>
          <p>Lorem Ipsum e lodore</p>
          <h4>Titel #1</h4>
          <p>Lorem Ipsum e lodore</p>
        </v-flex>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" flat @click="impressum_dialog = !impressum_dialog">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</div>
</template>

<script>
import Navbar from "@/components/Navbar"

export default {
  name: "Settings",

  components: {
    Navbar
  },

  data() {
    return {
      // Dialogs
      contact_dialog: false,
      data_dialog: false,
      impressum_dialog: false,
      // Form data
      message: "",
      rules: this.$root.form_rules,
      // Version info data
      version: "1.0.8"
    }
  },

  methods: {
    // Sends a feedback message to the server, has no function right now
    contactUs: function () {
      if (this.$refs.form.validate()) {
				this.$store.commit("eat_toast", `Your feedback has been sent! Well not really, because it would bloat the database, but you get the idea.`)
        this.contact_dialog = false
      }
    }
  }

}
</script>

<style>
#about-container {
  height: 100vh;
  padding-top: 15px;
}

.settings-subheader {
  padding-top: 15px;
}

#version-info {
  font-size: 0.8em;
}
</style>
