<template>
<div>

  <!-- Event List -->
  <v-layout class="event-list-container" app fill-height>
    <v-container class="event-list-container" fill-height>
      <v-list class="list-style full-width">
        <v-layout row wrap>
          <EventItem class="eventitem" v-for="item in events" :key="item._id" :event="item"></EventItem>
        </v-layout>
      </v-list>
    </v-container>
  </v-layout>

  <!-- Placeholder if events[] is empty -->
  <v-layout class="event-list-container" v-if="events.length == 0" app fill-height>
    <span class="empty_text">
      <p> You have no own event.. Create your first one right now! :) </p>
    </span>
  </v-layout>

</div>
</template>

<script>
import {
  getCreated
} from "@/mutables/user"
import Navbar from "@/components/Navbar"
import EventItem from "@/components/EventItem"

export default {
  name: "created",
  components: {
    Navbar,
    EventItem
  },
  data() {
    return {
      events: []
    }
  },
  created() {
    // Request created Events when view gets created
    getCreated()
      .then(response => {
        this.events = response.data
      })
      .catch(error => {
        if (error.status !== 404) this.$store.commit("eat_toast", `Couldn't get your created events: ${error.message}`)
      })
  },

}
</script>

<style>
</style>
