<template>
<div>

  <!-- Event Details -->
  <!-- Details Case 0 (Default) -->
  <div v-if="!is_owner && !is_subscribed">
    <v-card class="details_card mx-auto" max-width="1024">

      <!--  Upper section Default Case-->
      <v-card-title class="card_title">
        <!-- title and icon -->
        <v-container class="title_name">
          <font-awesome-icon class="title_name_icon" :icon="icon"></font-awesome-icon>
          <span class="text-uppercase title_name_title">
            {{ this.event.event.title }}
          </span>
          <v-spacer></v-spacer>
        </v-container>

        <!-- Button group -->
        <v-container class="title_buttons list-style">
          <v-btn class="title_btn" @click="joinOrApply()" :color="event.event.private ? 'primary' : 'success' ">
            <font-awesome-icon :icon="event.event.private ? 'pen-alt' : 'hand-point-right' "></font-awesome-icon>
            {{event.event.private ? 'Apply' : 'Join' }}
          </v-btn>
        </v-container>

      </v-card-title>

      <!--  Middle section Default Case -> Info box -->
      <v-card-text class="infobox_default">
        <!-- address and age range (row 1) -->
        <v-layout infobox_row row>
          <v-flex class="infobox_info" xs6>
            <div class="infobox_info_icon">
              <font-awesome-icon icon="map-marked-alt"></font-awesome-icon>
            </div>
            <div class="infobox_info_text" style="max-width:140px">
              <span v-if="document_loaded">
                {{ event.event.readable_address.length > 28 ? (event.event.readable_address.substring(0, 28) + '..') : event.event.readable_address }}
              </span>
            </div>
          </v-flex>
          <v-flex class="infobox_info" xs6>
            <div class="infobox_info_icon">
              <font-awesome-icon icon="user-circle"></font-awesome-icon>
            </div>
            <div class="infobox_info_text">
              <span v-if="document_loaded">{{ this.event.event.age_range.minimum}} - {{ this.event.event.age_range.maximum }} years </span>
            </div>
          </v-flex>
        </v-layout>

        <!-- date and number of members (row 2) -->
        <v-layout class="infobox_row" row>
          <v-flex class="infobox_info" xs6>
            <div class="infobox_info_icon">
              <font-awesome-icon icon="clock"></font-awesome-icon>
            </div>
            <div class="infobox_date">
              <span v-if="document_loaded == true">{{ this.event.event.date.substr(0,10) }}</span>
              <br>
              <span v-if="document_loaded == true">{{ this.event.event.date.substr(11,5) }}</span>
            </div>
          </v-flex>
          <v-flex class="infobox_info" xs6>
            <div class="infobox_info_icon">
              <font-awesome-icon icon="users"></font-awesome-icon>
            </div>
            <div class="infobox_info_text">
              <span class="infobox_info_text" v-if="document_loaded == true">
                {{ this.event.membercount|| 0 }}/{{ this.event.event.limitation }}
              </span>
            </div>
          </v-flex>
        </v-layout>
      </v-card-text>

      <!--  Lower section  Default Case-->
      <v-card-actions class="lower_default">
        <v-container class="list-style" fluid>
          <v-layout wrap>

            <!-- description of the event -->
            <v-flex class="lower_description" xs12>
              <v-subheader class="lower_subheader"> Description </v-subheader>
              <p>{{ this.event.event.description }}</p>
            </v-flex>

            <!-- Link to owners user profile -->
            <v-flex xs12>
              <hr>
              <div class="lower_profile_container">
                <v-subheader class="lower_subheader"> Created by </v-subheader>
                <v-sheet class="lower_profile" v-if="document_loaded" elevation="2" @click="userProfile(event.event._by._id)">
                  <v-avatar>
                    <img v-if="document_loaded" :src="avatar" alt="avatar">
                  </v-avatar>&nbsp;&nbsp;
                  <span>
                    {{ event.event._by.username }}
                  </span>
                  <font-awesome-icon class="test123 lower_profile_icon" icon="chevron-right"></font-awesome-icon>
                </v-sheet>
              </div>
            </v-flex>

          </v-layout>
        </v-container>
      </v-card-actions>

    </v-card>
  </div>

  <!-- Details Case 1,2 or 3 (Subscribed or owner) -->
  <div v-if="is_subscribed || is_owner">
    <v-card class="mx-auto details_card" max-width="1024" v-bind:class="{ displayNone: display }">

      <!--  Upper section sub Case -->
      <v-card-title class="card_title">
        <!-- title and icon -->
        <v-container class="title_name">
          <font-awesome-icon class="title_name_icon" :icon="this.icon"></font-awesome-icon>
          <span class="text-uppercase title_name_title">{{ this.event.event.title }}</span>
        </v-container>

        <!-- Button group -->
        <v-container class="title_buttons list-style">
          <v-btn class="title_btn" @click="toggleEdit" v-if="is_owner" color="primary">
            <font-awesome-icon class="tite_btn_icon" icon="cog"></font-awesome-icon>
          </v-btn>
          <v-btn class="title_btn" @click="dialog_pending = !dialog_pending" v-if="is_owner" color="#78909C">
            <font-awesome-icon class="tite_btn_icon" icon="users-cog"></font-awesome-icon>
          </v-btn>
          <v-btn id="exit_btn" @click="unsubscribe" v-if="is_subscribed && !is_owner">
            <font-awesome-icon class="tite_btn_icon" icon="sign-out-alt"></font-awesome-icon>&nbsp;Exit
          </v-btn>
        </v-container>

      </v-card-title>

      <!-- On Page Navigation (Start Page & Info Page) -->
      <v-tabs v-model="model" color="rgba(69,106,109,1)" slider-color="yellow" @change="addButton = !addButton">
        <v-tabs-slider color="yellow"></v-tabs-slider>

        <v-spacer />

        <v-tab :href="`#tab-1`" ripple>START PAGE</v-tab>

        <v-spacer />

        <v-tab :href="`#tab-2`" ripple>INFOS PAGE</v-tab>
        <v-spacer />
      </v-tabs>

      <!--  Middle section Sub Case  -->
      <v-card-text id="startpage_container">
        <v-tabs-items v-model="model">

          <!-- Start Page Content -->
          <v-tab-item class="v_tab1 startpage_content" :value="'tab-1'">

            <!-- Comment List -->
            <v-layout id="startpage_commentlist" app justify-center>
              <v-list class="full-width">
                <v-container>
                  <Comment class="eventitem" @commentDeleted="refresh()" v-for="item in comments" :key="item._id" :_id="item._id" :_by="item._by._id" :text="item.text" :owner="is_owner"></Comment>
                </v-container>
              </v-list>
            </v-layout>

            <!-- Placeholder if Comments[] is empty -->
            <v-layout v-if="comments.length == 0" app fill-height class="event-list-container">
              <span class="empty_text">
                <p> No Comments yet... Be the first! :) </p>
              </span>
            </v-layout>

          </v-tab-item>

          <!-- Info Page Content -->
          <v-tab-item :value="'tab-2'">
            <v-card class="details_card" flat>

              <!-- Infos box of Info Page -->
              <v-card-text class="infobox_default">
                <!-- address and age range (row 1) -->
                <v-layout class="infobox_row" row>
                  <v-flex class="infobox_info" xs6>
                    <div class="infobox_info_icon">
                      <font-awesome-icon icon="map-marked-alt"></font-awesome-icon>
                    </div>
                    <div class="infobox_info_text" style="max-width:140px">
                      <span v-if="document_loaded == true">
                        {{ event.event.readable_address.length > 28 ? (event.event.readable_address.substring(0, 28) + '..') : event.event.readable_address }}</span>
                    </div>
                  </v-flex>
                  <v-flex class="infobox_info" xs6>
                    <div class="infobox_info_icon">
                      <font-awesome-icon icon="user-circle"></font-awesome-icon>
                    </div>
                    <div class="infobox_info_text">
                      <span v-if="document_loaded"> {{ event.event.age_range.minimum }} - {{ event.event.age_range.maximum }} years</span>
                    </div>
                  </v-flex>
                </v-layout>

                <!-- date and accepted mambers (row 2) -->
                <v-layout class="infobox_row" row>
                  <v-flex class="infobox_info" xs6>
                    <div class="infobox_info_icon">
                      <font-awesome-icon icon="clock"></font-awesome-icon>
                    </div>
                    <div class="infobox_date">
                      <span v-if="document_loaded == true">{{ event.event.date.substr(0,10) }}</span>
                      <br>
                      <span v-if="document_loaded == true">{{ event.event.date.substr(11,5) }}</span>
                    </div>
                  </v-flex>
                  <v-flex class="infobox_info" xs6>
                    <div class="infobox_info_icon">
                      <font-awesome-icon icon="users"></font-awesome-icon>
                    </div>
                    <div class="infobox_info_text">
                      <v-btn v-if="document_loaded == true" @click="dialog_accepted = !dialog_accepted" color="#78909C">
                        {{ event.membercount || 0 }}/{{ event.event.limitation }}
                      </v-btn>
                    </div>
                  </v-flex>
                </v-layout>

              </v-card-text>

              <!-- Lower Section of the Info Page -> description and owner link -->
              <v-card-actions class="lower_default">
                <v-container class="list-style" fluid>
                  <v-layout wrap>
                    <!-- description of the event -->
                    <v-flex class="lower_description" xs12>
                      <v-subheader class="lower_subheader"> Description </v-subheader>
                      <p>{{ this.event.event.description }}</p>
                    </v-flex>

                    <!-- link to owners user profile (can be own profile) -->
                    <v-flex xs12>
                      <hr>
                      <div class="lower_profile_container">
                        <v-subheader class="lower_subheader"> Created by </v-subheader>
                        <v-sheet class="lower_profile" v-if="document_loaded" elevation="2" @click="userProfile(event.event._by._id)">
                          <v-avatar>
                            <img v-if="document_loaded" :src="avatar" alt="avatar">
                          </v-avatar>&nbsp;&nbsp;
                          <span> {{ event.event._by.username }} </span>
                          <font-awesome-icon class="lower_profile_icon" icon="chevron-right"></font-awesome-icon>
                        </v-sheet>
                      </div>
                    </v-flex>

                  </v-layout>
                </v-container>
              </v-card-actions>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-card-text>

    </v-card>

    <!-- Accepted Members -->
    <v-layout justify-center v-if="is_subscribed">
      <v-dialog v-model="dialog_accepted" scrollable max-width="300px">
        <v-card>

          <!-- card title -->
          <v-card-title class="memberlists_title">Accepted Members</v-card-title>

          <v-divider></v-divider>

          <!-- List of accepted users -->
          <v-card-text class="memberlists_text">
            <v-list>
              <div class="memberlists_listitem" v-for="item in this.event.event.accepted_members" :key="item._id">
                <div>
                  {{ item.username }}
                  <br v-if="is_owner">
                  <span v-if="!(item._id === store.getters.user_details._id)" class="memberlists_btngroup">
                    <v-btn class="memberlists_btngroup_btn" style="background-color:beige" @click="userProfile(item._id)">
                      <font-awesome-icon icon="user-circle"></font-awesome-icon>
                    </v-btn>
                    <v-btn class="memberlists_btngroup_btn" v-if="is_owner" style="background-color:crimson" @click="kickBanDialog(item._id, )">
                      <font-awesome-icon icon="eraser"></font-awesome-icon>
                    </v-btn>
                  </span>
                </div>
              </div>
            </v-list>
          </v-card-text>

          <v-divider></v-divider>

          <!-- close button -->
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn flat color="blue darken-1" text @click="dialog_accepted = false">Close</v-btn>
          </v-card-actions>

        </v-card>
      </v-dialog>
    </v-layout>

    <!-- Pending Members -->
    <v-layout justify-center v-if="is_owner">
      <v-dialog v-model="dialog_pending" scrollable max-width="300px">
        <v-card>

          <!-- card title -->
          <v-card-title class="memberlists_title"> Pending Members </v-card-title>

          <v-divider></v-divider>

          <!-- pending users list -->
          <v-card-text class="memberlists_text">
            <v-list>
              <div class="memberlists_listitem" v-for="item in this.event.event.pending_members" :key="item._id">
                <div>
                  {{ item.username }}
                  <br>
                  <span class="memberlists_buttongroup">
                    <v-btn class="memberlists_btngroup_btn" style="background-color:beige" @click="userProfile(item._id)">
                      <font-awesome-icon icon="user-circle"></font-awesome-icon>
                    </v-btn>
                    <v-btn class="memberlists_btngroup_btn" style="background-color:crimson" @click="declineDialog(item._id)">
                      <font-awesome-icon icon="eraser"></font-awesome-icon>
                    </v-btn>
                    <v-btn class="memberlists_btngroup_btn" color="success" @click="accept(item._id)">
                      <font-awesome-icon icon="check"></font-awesome-icon>
                    </v-btn>
                  </span>
                </div>
              </div>
            </v-list>
          </v-card-text>

          <v-divider></v-divider>

          <!-- close button -->
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn flat color="blue darken-1" text @click="dialog_pending = false">Close</v-btn>
          </v-card-actions>

        </v-card>
      </v-dialog>
    </v-layout>

    <!-- Add Comment Button -->
    <v-card-text class="title_name" v-bind:class="{ displayNone: addButton }">
      <v-fab-transition>
        <v-btn id="addCommentButton" dark fixed bottom right fab @click="add_comment_dialog = !add_comment_dialog">
          <v-icon>chat</v-icon>
        </v-btn>
      </v-fab-transition>
    </v-card-text>

    <!-- Add Comment Dialog -->
    <AddCommentDialog :add_comment_dialog="add_comment_dialog" v-on:dialogChange="updateComment($event)"></AddCommentDialog>

    <!-- Edit Dialog for owner -->
    <AddDialog :owner="is_owner" :Case="1" :add_dialog="edit_dialog_toggle" v-on:dialogChange="toggleEdit" v-on:deleteEvent="deleteEvent" :event="this.event.event"></AddDialog>

  </div>

  <!-- kick / ban dialog -->
  <DefaultDialog :default_dialog="default_dialog2" :Case="2" v-on:dialogChange="kickBan($event)"></DefaultDialog>

  <!-- decline -->
  <DefaultDialog :default_dialog="default_dialog3" :Case="3" v-on:dialogChange="decline($event)"></DefaultDialog>

  <!-- apply dialog -->
  <DefaultDialog :default_dialog="default_dialog1" :Case="1" v-on:dialogChange="apply($event)"></DefaultDialog>

</div>
</template>

<script>
import Navbar from "@/components/Navbar"
import store from "@/store"
import AddCommentDialog from "@/components/AddCommentDialog"
import DefaultDialog from "@/components/DefaultDialog"
import {
  getComments,
  unsubscribeEvent,
  addComment,
  getEvent,
  deleteEvent,
  subscribeEvent
} from "@/mutables/social"
import {
  acceptMember,
  kickUser
} from "@/mutables/social"
import Comment from "@/components/Comment"
import AddDialog from "@/components/AddDialog"

export default {
  name: "event_details",

  components: {
    Navbar,
    AddCommentDialog,
    Comment,
    AddDialog,
    DefaultDialog
  },

  data() {
    return {
      model: "tab-1",
      store,
      icon: "ellipsis-h",
      // event
      event: {
        Comments: {},
        event: {},
        //...because otherwise it will throw an error if they aren't defined
      },
      avatar: " ",
      // dialogs
      add_comment_dialog: false,
      edit_dialog_toggle: false,
      default_dialog1: false,
      default_dialog2: false,
      default_dialog3: false,
      dialog_accepted: false,
      dialog_pending: false,
      // comments
      comments: [],
      // renderoptions 
      is_subscribed: false,
      is_owner: false,
      // cache for the user id to be banned
      ban: " ",
      //check if document fully loaded
      document_loaded: false,
      //others
      display: false,
      addButton: false,
      active: null,
    }
  },

  // calls the get event request (server) with event_id from query
  created() {
    getEvent(this.$route.params.id)
      .then(response => {
        this.event = response.data
        this.checkPriveledge()
      })
      .catch(error => {
				if (error.status !== 404) this.store.commit("eat_toast", `Couldn't get event details: ${error.message}`)
      })
  },

  methods: {
    // set the render options and calls the initComments function
    checkPriveledge: function () {
      var userid = store.getters.user_details._id
      if (store.getters.user_details.subscriptions.includes(this.event.event._id)) {
        this.is_subscribed = true
      }
      if (this.event.event._by._id === store.getters.user_details._id) {
        this.is_owner = true
      }
      // set site is loaded
      this.document_loaded = true
      // get the comments
      this.initComments()
      // set avatar
      this.setAvatar()
      // set icon
      this.seticon()

    },

    // accepts pending member 
    accept: function (userid) {
      acceptMember(this.event.event._id, userid)
        .then(response => {
          let index = this.getIndex(userid, 0)
          if (index >= 0) {
            this.event.event.accepted_members.push(this.event.event.pending_members[index])
            this.event.event.pending_members.splice(index, 1)
            this.event.membercount += 1
          }
        })
        .catch(error => {
          this.store.commit("eat_toast", `Couldn't accept this member: ${error.message}`)
        })
    },

    // saves the user_id to be declined and opens the dialog (default_dialog3)
    declineDialog: function (id) {
      this.ban = id
      this.default_dialog3 = !this.default_dialog3
    },

    // declines pending member 
    decline: function ($event) {
      if ($event == false) {
        this.default_dialog2 = false
      } else {
        kickUser(this.event.event._id, this.ban)
          .then(respone => {
            this.default_dialog3 = false
            let index = this.getIndex(this.ban, 0)
            if (index >= 0) {
              this.event.event.pending_members.splice(index, 1)
            }
          })
          .catch(error => {
            this.store.commit("eat_toast", `Couldn't decline this membership: ${error.message}`)
          })
      }
    },

    seticon: function () {
      this.icon = store.getters.category_icon(this.event.event.category)
    },

    // saves the user_id to be banned and opens the accept dialog (default_dialog2)
    kickBanDialog: function (id) {
      this.ban = id
      this.default_dialog2 = !this.default_dialog2
    },

    // gets called from acceptdialog (default_dialog2) and calls the chosen request (server) -> kick or ban
    kickBan: function ($event) {
      if ($event == false) {
        this.default_dialog2 = false
      }
      if ($event === "kick") {
        kickUser(this.event.event._id, this.ban)
          .then(response => {
            this.default_dialog2 = false
            let index = this.getIndex(this.ban, 1)
            if (index > 0) {
              this.event.event.accepted_members.splice(index, 1)
              this.event.membercount -= 1
            }
          })
          .catch(error => {
            this.store.commit("eat_toast", `Couldn't kick this user: ${error.message}`)
          })
      }
      if ($event === "ban") {
        kickUser(this.event.event._id, this.ban, true)
          .then(response => {
            this.default_dialog2 = false
            let index = this.getIndex(this.ban, 1)
            if (index > 0) {
              this.event.event.accepted_members.splice(index, 1)
              this.event.membercount -= 1
            }
          })
          .catch(error => {
            this.store.commit("eat_toast", `Couldn't ban this user: ${error.message}`)
          })
      }
    },

    // opens the edit dialog if document finished loading
    toggleEdit: function () {
      if (!this.document_loaded) return
      this.edit_dialog_toggle = !this.edit_dialog_toggle
    },

    // link to the owners user profile (can be own profile)
    userProfile: function (id) {
      if (!this.document_loaded) return
      this.$router.push({
        name: "profile",
        params: {
          id: id
        }
      })
    },

    // gets the Index of the user in accepted_members, list 0 -> pending, list 1 -> accepted
    getIndex: function (userid, list) {
      let erg = -1
      if (list == 0) {
        for (let i = 0; i < this.event.event.pending_members.length; i++) {
          if (this.event.event.pending_members[i]._id === userid) {
            erg = i
          }
        }
      }

      if (list == 1) {
        for (let i = 0; i < this.event.membercount; i++) {
          if (this.event.event.accepted_members[i]._id === userid) {
            erg = i
          }
        }
      }
      return erg
    },

    // calls the delete current event request (server) if owner
    deleteEvent: function () {
      deleteEvent(this.event.event._id)
        .then(response => {
          this.store.commit("eat_toast", `Successfully deleted your event ${this.event.event.title}`)
          this.$router.replace({
            name: "home"
          })
        })
        .catch(error => {
          this.store.commit("eat_toast", `Couldn't delete event: ${error.message}`)
        })
    },

    arrowback: function () {
      this.$router.go(-1)
    },

    // calls request (server) for getting the comments of this event
    initComments: function () {
      getComments(this.$route.params.id)
        .then(response => {
          this.comments = response.data
        })
    },

    setAvatar: function () {
      if (!("avatar" in this.event.event._by)) {
        this.avatar = require("@/assets/logo.png")
      } else {
        this.avatar = this.event.event._by.avatar
      }
    },

    // decides which function to call (join or apply) and checks if event is already full
    joinOrApply: function () {
      if (!this.document_loaded) return
      if (!this.event) return
      if (this.event.membercount == this.limitation) {
        this.store.commit("eat_toast", `Event is already full!`)
        return
      }
      if (this.event.event.private == true) {
        this.default_dialog1 = !this.default_dialog1
      } else {
        this.join()
      }
    },

    // gets called from apply dialog (default_dialog1) and calls the subscribeEvent request (server) for this user (server)
    apply: function ($event) {
      if ($event == false) {
        this.default_dialog1 = false
        return
      }
      this.default_dialog1 = false
      subscribeEvent(this.event.event._id)
        .then(response => {
          this.store.commit("eat_toast", `Success! Wait for the owner to accept or decline your membership`)
        })
        .catch(error => {
          this.store.commit("eat_toast", `Couldn't apply event: ${error.message}`)
        })
    },

    // calls the join request 
    join: function () {
      subscribeEvent(this.event.event._id)
        .then(response => {
          store.commit("add_subscription", this.event.event._id)
          this.store.commit("eat_toast", `Successfully subscribed`)
					this.is_subscribed = true
					this.event.membercount++
        })
        .catch(error => {
          this.store.commit("eat_toast", `Couldn't apply event: ${error.message}`)
        })
    },

    // gets called from the add_comment_dialog, calls the addComment request (server)
    updateComment: function ($event) {
      this.add_comment_dialog = !this.add_comment_dialog
      if (!this.document_loaded) return
      if ($event) {
        addComment(this.event.event._id, $event)
          .then(response => {})
      }
      this.initComments()
    },

    // calls the unsubscribeEvent request (server) for this user
    unsubscribe: function () {
      unsubscribeEvent(this.event.event._id)
        .then(response => {
          this.store.commit("eat_toast", `Successfully unsubscribed!`)
          store.commit("remove_subscription", this.event.event._id)
          this.$router.push({
            name: "home"
          })
        })
        .catch(error => {
          this.store.commit("eat_toast", `Couldn't unsubscribe: ${error.message}`)
        })
    },

    // refreshes the comments[]
    refresh: function () {
      setTimeout(() => {
        getComments(this.event.event._id)
          .then(response => {
            this.comments = response.data;
          })

      }, 1500);
    }
  }
}
</script>

<style>
.displayNone {
  display: none !important;
}

.details_card {
  box-shadow: none;
}

/* Upper Section */
.card_title {
  text-align: center;
  box-shadow: 0px 6px 13px -6px rgba(0, 0, 0, 0.75);
  position: relative;
}

.title_name_icon {
  font-size: 1.6em;
}

.title_name_title {
  margin: 0;
  margin-left: 5px;
  font-size: 1.6em;
}

.title_name {
  padding: 0;
}

.title_btn {
  margin-right: 0;
  min-width: 25px;
  padding: 0 10px;
}

.title_btn_icon {
  font-size: 1.5em;
}

#exit_btn {
  background-color: crimson;
  opacity: .85;
  margin-right: 0;
}

/* Middle Section */

/* sub case */
#startpage_container {
  padding: 0 !important;
}

.startpage_content {
  height: 58vh;
  overflow-y: auto;
}

#startpage_commentlist {
  overflow-y: auto;
}

/* both cases */
.infobox_default {
  border-bottom: 1px solid black;
  font-size: 1.2em;
  padding: 15px 10px 10px 10px !important;
  background-color: rgba(69, 108, 109, .4);
}

.infobox_info {
  justify-content: center;
  display: flex
}

.infobox_info_icon {
  width: 30px;
  display: flex;
  align-items: center;
}

.infobox_info_text {
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
}

.infobox_date {
  text-align: center;
}

.infobox_row {
  padding-top: 10px;
  padding-bottom: 5px;
}

/* Lower Section */
.lower_default {
  font-size: 1.2em;
  padding: 5px 0px 30px 0px;
}

.lower_description {
  padding: 0 16px;
  min-height: 18vh;
}

.lower_subheader {
  padding-left: 0;
}

.lower_profile_container {
  padding: 10px 16px;
  max-width: 300px;
}

.lower_profile {
  padding: 10px;
  width: auto;
  align-items: center;
  display: flex;
  position: relative;
}

.lower_profile_icon {
  position: absolute;
  right: 15px;
  font-size: 1.2em;
}

/* Member Lists */
.memberlists_title {
  font-size: 1.3em;
}

.memberlists_text {
  height: 300px;
  padding: 10px;
  text-align: center;
  margin-top: 1px;
}

.memberlists_listitem {
  margin-top: 7px;
  padding: 5px 0px 5px 5px;
  width: 100%;
  border-radius: 8px;
  display: block;
  background-color: #455a64;
  color: white;
}

.memberlists_btngroup {
  padding: 0;
  margin: 0 5px 0 10px;
}

.memberlists_btngroup_btn {
  min-width: 25px;
  margin: 0 5px 0 0;
  color: white;
}

#addCommentButton {
  right: 25px;
  bottom: 30px;
  background-color: MediumSeaGreen;
}

/* ? */
#app>div.application--wrap>main>div>div>div>div.v-card__text {
  padding-bottom: 0;
  margin-bottom: 0;
}

.v-tabs__div {
  opacity: 1;
  color: white !important;
}

/* Media Queries */
@media only screen and (min-width: 360px) {
  .title_name {
    width: auto;
    flex: 1 1 auto;
    text-align: left;
  }

  .title_buttons {
    width: auto;
    flex: 1 1 auto;
  }

  .title_buttons button {
    float: right;
  }
}

@media only screen and (max-width: 359px) {
  .card_title {
    text-align: center;
  }
}

@media (orientation: landscape) {
  #v_tab1 {
    height: 44vh !important;
  }
}
</style>
