<template>
<div>

  <!-- Event List -->
  <v-layout class="event-list-container" app fill-height>
    <v-container class="event-list-container" fill-height>
      <v-list class="list-style full-width">
        <v-layout row wrap>
          <EventItem class="eventitem" v-on:favoriteChange="favoriteChange($event)" v-for="item in events" :key="item._id" :event="item"></EventItem>
        </v-layout>
      </v-list>
    </v-container>
  </v-layout>

  <!-- Placeholder if events[] is empty -->
  <v-layout class="event-list-container" v-if="events.length == 0" app fill-height>
    <span class="empty_text">
      <p> No Favorites yet... Start adding some! :) </p>
    </span>
  </v-layout>

</div>
</template>

<script>
import {
  getFavorites
} from "@/mutables/social"
import Navbar from "@/components/Navbar"
import EventItem from "@/components/EventItem"

export default {
  name: "favorites",
  components: {
    Navbar,
    EventItem
  },
  data() {
    return {
      events: []
    }
  },
  created() {
    // Request Favorites Events when view gets created
    getFavorites()
      .then(response => {
        this.events = response.data
      })
      .catch(error => {
        this.$store.commit("eat_toast", `Couldn't get your favorite events: ${error.message}`)
      })
  },
  methods: {
    // triggers when in favorite button click in eventitem and send new request
    favoriteChange: function ($event) {
      getFavorites()
        .then(response => {
          this.events = response.data
        })
        .catch(error => {
					if (error.status !== 404) this.$store.commit("eat_toast", `Couldn't toggle favorite: ${error.message}`)
        })
    }
  }

}
</script>

<style>
</style>
