<template>
<!-- Hide DOM before checking to avoid pre rendering -->
<v-container id="favorites_container">
  <!-- Event List -->
  <v-layout class="event-list-container" app fill-height>
    <v-container class="event-list-container" fill-height>
      <v-list class="list-style full-width">
        <v-layout row wrap>
          <EventItem class="eventitem" v-for="item in events" :key="item._id" :event="item"></EventItem>
        </v-layout>
      </v-list>
    </v-container>
  </v-layout>

  <!-- Placeholder if events[] is empty -->
  <v-layout class="event-list-container" v-if="events && events.length === 0" app fill-height>
    <span class="empty_text">
      <p> No Events found.. Create your own or change your filters :) </p>
    </span>
  </v-layout>

  <!-- Add Button -->
  <v-card-text style="padding:0;">
    <v-fab-transition>
      <v-btn id="add_btn" dark fixed bottom right fab large color="success" @click="toggleAdd()">
        <v-icon large>add</v-icon>
      </v-btn>
    </v-fab-transition>
  </v-card-text>

  <!-- Add Dialog -->
  <AddDialog :Case="0" :event="null" :add_dialog="add_dialog" v-on:dialogChange="updateValue($event)"></AddDialog>

</v-container>
</template>

<script>
import Navbar from "@/components/Navbar"
import EventItem from "@/components/EventItem"
import AddDialog from "@/components/AddDialog"

export default {
  name: "index",

  components: {
    Navbar,
    EventItem,
    AddDialog
  },

  data() {
    return {
      add_dialog: false,
      // pagination
			page: 0,
    }
	},
	computed: {
		events() {
			return this.$parent.$parent.$parent.events
		}
	},
  methods: {
    // toggles the add Dialog
    toggleAdd: function () {
      this.add_dialog = !this.add_dialog
    },

    // toggles the add Dialog on close or succes
    updateValue: function (value) {
      this.add_dialog = value
    },

  }
}
</script>

<style>
#favorites_container {
  padding: 0;
}

#add_btn {
  right: 25px;
  bottom: 30px;
  background-color: MediumSeaGreen;
}
</style>
