<template>
<v-container>

  <h1 class="text-xs-center">Login</h1>
  <v-divider class="my-4"></v-divider>

  <v-form ref="form" lazy-validation>
    <!--  Email -->
    <v-layout row wrap>
      <v-flex>
        <v-text-field v-model="email" label="Email" prepend-icon="email" :rules="[rules.required, rules.email_valid]" outline></v-text-field>
      </v-flex>
    </v-layout>

    <!-- Password and confirm -->
    <v-layout row wrap>
      <v-flex>
        <v-text-field :append-icon="show_password ? 'visibility_off' : 'visibility'" :rules="[rules.required, rules.min]" :type="show_password ? 'text' : 'password'" label="Password" prepend-icon="lock" hint="At least 8 characters" v-model="password" class="input-group--focused" @click:append="show_password = !show_password" outline></v-text-field>
      </v-flex>
    </v-layout>

    <!-- Buttons -->
    <v-container justify-center>
      <v-layout justify-center>
        <p>If you have no Account yet please <router-link :to="{name: 'register'}">register</router-link>
        </p>
      </v-layout>
      <v-layout justify-center>
        <v-btn block color="green" @click="loginUser()">Login</v-btn>
      </v-layout>
    </v-container>
  </v-form>
</v-container>
</template>

<script>
// Utilities and routes for HTTP request
import {
  login
} from "@/mutables/user"

export default {
  name: "login",

  data: vm => {
    return {
      // The user object that's going to be serialized
      email: "",
      password: "",

      show_password: false,

      // Get form validation functions
      rules: vm.$root.form_rules
    }
  },
  methods: {
    loginUser() {
      // Soft form validation (Tier I)
      if (!this.$refs.form.validate()) return

      // Send request if form is valid
      login(this.email, this.password)
        .then(response => {
          this.$store.commit("user_login", response.data)
          this.$store.commit("eat_toast", "Successfully logged you in!")
          this.$router.push({
            name: "home"
          }) // Redirect to home
        })
        .catch(error => {
          this.$store.commit("eat_toast", "There was an error logging you in...")
        })
    }
  }
}
</script>

<style>
</style>
