<template>
<p>We're logging you out, one second...</p>
</template>

<script>
import {
  logout
} from "@/mutables/user"
export default {
  name: 'logout',
  created() {
    // Logout and redirect to home
    logout()
      .then(() => {
        this.$store.commit('user_logout')
        this.$router.push({
          name: 'home'
        })
      })
      .catch(status => {})

  }
}
</script>
