<template>
<div>
  <!-- Profile -->
  <div class="full_height">
    <v-list subheader>
      <v-form ref="form" lazy-validation>

        <!-- Header with Avatar-->
        <v-container id="upper_section" align-center justify-center row fill-height>
          <v-avatar class="avatar" :size="avatar_size" color="grey lighten-4">
            <!-- Case 1 Avatar (other's profile) -->
            <v-img :src="this.image || this.avatar || require('@/assets/logo.png')" aspect-ratio="1.7"></v-img>

            <!-- Case 0 Avatar (own profile) -->
            <picture-input id="picInput" v-if="this.case === 0" ref="pictureInput" hideChangeButton radius="50" accept="image/jpeg" size="1" plain
							:custom-strings="{
								upload: '', // HTML allowed
								drag: '', // HTML allowed
								tap: '', // HTML allowed
							}" @change="onChange">
            </picture-input>
          </v-avatar>

          <!-- Edit Button -->
          <v-btn id="edit_btn" v-if="this.case === 0" color="primary" fab small dark absolute @click="triggerPictureInput()">
            <v-icon>edit</v-icon>
          </v-btn>
        </v-container>

        <v-divider></v-divider>

        <!-- Body with Informations-->
        <v-container>
          <!-- Username -->
          <v-subheader class="settings-subheader">Username</v-subheader>
          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>{{ this.username }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-divider></v-divider>

          <!-- Age -->
          <v-subheader class="settings-subheader">Age</v-subheader>
          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>{{ this.age }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>

          <!-- Case 0 (own profile) -->
          <span v-if="this.case == 0">
            <!-- Interests -->
            <v-subheader class="settings-subheader">Interests</v-subheader>
            <v-list-tile id="interests_container">
              <v-list-tile-content>
                <v-select :items="store.getters.category_names()" v-model="interests" :rules="[rules.required, rules.arrayNotEmpty]" multiple>Interests</v-select>
              </v-list-tile-content>
            </v-list-tile>

            <v-divider></v-divider>

            <!-- About me text -->
            <v-subheader class="settings-subheader">Bio</v-subheader>
            <v-list-tile id="about_description">
              <v-list-tile-content>
                <v-textarea v-model="bio" light auto-grow box type="text" rows="2" style="width:100%" :rules="[rules.min_description, rules.max_description]">
                </v-textarea>

              </v-list-tile-content>
            </v-list-tile>
            <v-divider></v-divider>

            <!-- Save Button -->
            <v-layout row wrap style="margin-top:30px">
              <v-flex>
                <v-btn id="save_btn" color="success" elevation="10" @click="saveUserSettings()">Save</v-btn>
              </v-flex>
            </v-layout>
          </span>

          <!-- Case 1 (other's profile) -->
          <span v-if="this.case == 1">
            <!-- Interests -->
            <v-list subheader>
              <v-subheader class="settings-subheader">Interests</v-subheader>
              <v-list-tile v-if="this.interests.length != 0">
                <v-list-tile-content v-for="(item, index) in user.interests" :key="index">{{ item }}</v-list-tile-content>
              </v-list-tile>
              <v-list-tile v-if="this.interests.length == 0">
                <v-list-tile-content> No interests yet.. </v-list-tile-content>
              </v-list-tile>
            </v-list>

            <v-divider></v-divider>

            <!-- About me text -->
            <v-subheader class="settings-subheader">About</v-subheader>
            <v-list-tile>
              <v-list-tile-content>{{ bio }}</v-list-tile-content>
            </v-list-tile>
          </span>

        </v-container>
      </v-form>
    </v-list>
  </div>
</div>
</template>

<script>
import PictureInput from "vue-picture-input"
import {
  setUserProfile,
  getUserProfile
} from "@/mutables/user"
import store from "@/store"
import Navbar from "@/components/Navbar"

export default {
  name: "Profile",

  components: {
    PictureInput,
    Navbar
  },

  data() {
    return {
      //Profile Case ->Case 0 -> own Profile, Case 1 -> other's Profile
      case: 1,
      store,
      //Profile data
      avatar_size: 128,
      rules: this.$root.form_rules,
      interests: [],
      image: "",
      username: "",
      avatar: "",
      bio: "",
      age: 20,
      user: {},
      // check if document ready
      document_loaded: false,
    }
  },

  created: function () {
    // If own profile, get data from store and choose Case 0 
    if (this.$route.params.id === store.getters.user_details._id) {
      this.interests = store.getters.user_details.interests || []
      this.bio = store.getters.user_details.bio || store.getters.default_aboutme
      this.age = this.calcAge(store.getters.user_details.date_of_birth)
      this.username = store.getters.user_details.username
      this.avatar = store.getters.user_details.avatar
      this.case = 0
      this.document_loaded = true
    }

    // If others profile
    else {
      getUserProfile(this.$route.params.id)
        .then(response => {
          if (response) {
            this.user = response.data
            this.copyUserData()
            this.document_loaded = true
          }
        })
        .catch(error => {})
    }
  },

  methods: {
    // Triggers if avatar image changes, changes the avatar in view
    onChange(image) {
      if (image) this.image = image
    },

    // Calc the age of the user, given the date of birth
    calcAge: function (birthdate) {
      var temp = new Date(birthdate)
      //today's Date
      var today = new Date()
      //Birthyear, Month and Day of the User
      var birthdate = new Date(temp)
      var birthyear = birthdate.getFullYear()
      var birthmonth = birthdate.getMonth()
      var birthday = birthdate.getDate()
      //calc the Age of the User
      var sum = 0
      sum += today.getFullYear() - birthyear - 1
      if (birthmonth < today.getMonth()) {
        sum++
      } else {
        if (birthmonth == today.getMonth()) {
          if (birthday <= today.getDate()) {
            sum++
          }
        }
      }
      return sum
    },

    // If own profile, get infos from the store, instead of a server request
    copyUserData: function () {
      this.interests = this.user.interests || []
      if (!("bio" in this.user)) {
        this.bio = "Hi I'am " + this.user.username + ". This is my aboutme"
      } else {
        this.bio = this.user.bio
      }
      this.username = this.user.username
      if (("avatar" in this.user)) {
        this.avatar = this.user.avatar
      }
      this.age = this.calcAge(user.date_of_birth)
    },

    // so when clicking the edit button, the picture input gets triggered
    triggerPictureInput: function () {
      var el = document.getElementById("picInput")
      el.click()
    },

    // saves the modified user settings if the form validates
    saveUserSettings: function () {
      if (!this.document_loaded) return

      let current_img = this.image || this.avatar
			let current_bio = this.bio || ""
      let current_interests = this.interests || []

      // Soft form validation (Tier I)
      if (!this.$refs.form.validate()) return

      setUserProfile(current_bio, current_interests, current_img)
        .then(user => {
          var temp = {
            bio: current_bio,
            interests: current_interests,
            avatar: current_img
          }
          this.store.commit("update_profile", temp)
          this.store.commit("eat_toast", "Successfully updated your profile")
        })
				.catch(error => {
					this.store.commit("eat_toast", `Couldn't save your profile: ${error.message}`)
				})
    }
  }
}
</script>

<style>
#upper_section {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}

#upper_section .avatar {
  margin-bottom: 15px;
  margin-top: 10px;
  z-index: 1;
}

#edit_btn {
  top: 65%;
  margin-left: 40px;
  z-index: 1;
}

#about_description {
  height: auto !important;
}

#save_btn {
  width: 120px;
}

#interests_container div {
  height: 100%;
}

#interests_container {
  margin-bottom: 10px;
  height: 100%;
}

.input_bottom_spacer {
  margin-bottom: 30px;
}

#event-list-container {
  margin-top: 0px;
  padding: 0 0 0 0;
}

.settings-subheader {
  padding-top: 15px;
}
</style>
