<template>
<v-container>
  <h1 class="text-xs-center">Register</h1>
  <v-divider class="my-4"></v-divider>

  <v-form ref="form" lazy-validation>
    <!-- Username & Email Input-->
    <v-layout row wrap>
      <v-flex xs12>
        <v-text-field v-model="user.username" label="Username" prepend-icon="person" :rules="[rules.required, rules.min_user, rules.max_user]" outline></v-text-field>
      </v-flex>
      <v-flex xs12>
        <v-text-field v-model="user.email" label="Email" prepend-icon="email" :rules="[rules.required, rules.email_valid]" outline></v-text-field>
      </v-flex>
    </v-layout>

    <!-- Date of birth Input-->
    <v-layout row wrap>
      <v-flex xs12>
        <v-menu 
					ref="datepicker" 
					v-model="datepicker_show" 
					:close-on-content-click="false" 
					transition="scale-transition" 
					offset-y 
					full-width
					min-width="290px">
          <v-text-field slot="activator" label="Birthdate" :value="user.date_of_birth" :rules="[rules.required]" return-masked-value mask="####-##-##" persistent-hint prepend-icon="event" readonly outline></v-text-field>
          <v-date-picker 
						ref="picker" 
						v-model="user.date_of_birth" 
						:max="new Date().toISOString().substr(0, 10)" 
						min="1950-01-01"
						@change="$refs.datepicker.save($event)"
					>
          </v-date-picker>
        </v-menu>
      </v-flex>
    </v-layout>

    <!-- Password and confirm -->
    <v-layout row wrap>
      <v-flex xs12>
        <v-text-field :append-icon="show_password ? 'visibility_off' : 'visibility'" :rules="[rules.required, rules.min]" :type="show_password ? 'text' : 'password'" label="Password" prepend-icon="lock" hint="At least 8 characters" v-model="user.password" class="input-group--focused" @click:append="show_password = !show_password" outline></v-text-field>
      </v-flex>

      <v-spacer />

      <v-flex xs12>
        <v-text-field :append-icon="show_password_confirm ? 'visibility_off' : 'visibility'" :rules="[rules.required, (user.password === password_confirm) || 'Passwords must match']" :type="show_password_confirm ? 'text' : 'password'" label="Confirm password" hint="At least 8 characters" prepend-icon="lock" v-model="password_confirm" class="input-group--focused" @click:append="show_password_confirm = !show_password_confirm" outline></v-text-field>
      </v-flex>
    </v-layout>

    <v-spacer class="my-4"></v-spacer>

    <!-- Captcha 
			Haben wir zum schluss der Entwicklung rausgenommen, weil
			man für Android die SafetyNet API nutzen muss, um recaptcha zu nutzen...
			Haben wir dann erst gemerkt. Funktioniert aber super im browser.
			-->
    <!--     <v-layout row wrap justify-center>
      <vue-recaptcha sitekey="6LeB-rEUAAAAAJ7sIGUbO2mzmYD61WSUUO-tFg4l" @verify="verifyCaptcha"></vue-recaptcha>
      <p class="caption" :class="captcha_response ? 'green--text' : 'red--text'">{{ captcha_response ? "Thanks" : "Please solve the captcha" }}</p>
    </v-layout> -->

    <!-- EULA Checkbox -->
    <v-layout row wrap justify-center>
      <v-flex xs12>
        <v-checkbox label="I confirm that I've read and accepted the EULA" :rules="[user.accepted_eula || 'Please accept the EULA']" v-model="user.accepted_eula"></v-checkbox>
      </v-flex>
    </v-layout>

    <v-spacer class="my-2"></v-spacer>

    <!-- Buttons -->
    <v-layout row wrap>
      <v-flex xs6 offset-xs3>
        <v-btn block color="green" @click="registerUser()">Register</v-btn>
      </v-flex>
    </v-layout>
  </v-form>
</v-container>
</template>

<script>
//import VueRecaptcha from "vue-recaptcha"

// Utilities and routes for HTTP request
import {
  register
} from "@/mutables/user"

export default {
  name: "register",
  components: {
  },
  data: vm => {
    return {
      // The user object that's going to be serialized
      user: {
        username: "",
        email: "",
        date_of_birth: "",
        password: "",
        accepted_eula: false
      },

      password_confirm: "",

      // Visibility triggers
      show_password: false,
      show_password_confirm: false,
      datepicker_show: false,

      // Get form validation functions
      rules: vm.$root.form_rules
    }
  },
  watch: {
    datepicker_show(value) {
      value && setTimeout(() => this.$refs.picker.activePicker = 'YEAR')
    }
  },
  methods: {
    registerUser() {
      // Soft form validation (Tier I)
      if (!this.$refs.form.validate()) return

      // Send request if form is valid
      register(
          this.user.username,
          this.user.email,
          this.user.date_of_birth,
          this.user.password,
          this.user.accepted_eula
        )
        .then(response => {
          // Redirect to login
          this.$router.push({
            name: "login"
          })
          this.$store.commit("eat_toast", "You are registered and can now login")
        })
        .catch(error => {
          this.$store.commit("eat_toast", `There was an error creating your account: ${error.message}`)
        })
    }
  }
}
</script>

<style>
</style>
