<template>
<div>
  <!-- Event List -->
  <v-layout class="event-list-container" app fill-height>
    <v-container class="event-list-container" fill-height>
      <v-list class="list-style full-width">
        <v-layout row wrap>
          <EventItem class="eventitem" v-for="item in events.subscribed_events" style="" :key="item._id" :event="item"></EventItem>
        </v-layout>
      </v-list>
    </v-container>
  </v-layout>

  <!-- Placeholder if events[] is empty -->
  <v-layout class="event-list-container" v-if="(events.pending_events && events.pending_events.length === 0) && (events.subscribed_events && events.subscribed_events.length === 0)" app fill-height>
    <span class="empty_text">
      <p>No subscribed Events yet... Start joining fun events :) </p>
    </span>
  </v-layout>

</div>
</template>

<script>
import {
  getSubscribed
} from "@/mutables/social"
import EventItem from "@/components/EventItem"
import Navbar from "@/components/Navbar"

export default {
  name: "eventsSigned",

  components: {
    EventItem,
    Navbar
  },

  data() {
    return {
      events: []
    }
  },

  created() {
    // gets all Events the is member in
    getSubscribed()
      .then(response => {
				this.events = response.data
      })
      .catch(error => {
        if (error.status !== 404) this.$store.commit("eat_toast", `Couldn't get your subscribed events: ${error.message}`)
      })
  }
}
</script>

<style>

</style>
