<template>
<v-layout row justify-center>
  <v-dialog v-model="add_comment_dialog" max-width="600px">
    <v-card>

      <!-- Header -->
      <v-card-title>
        <span class="headline">New Comment</span>
      </v-card-title>

      <!-- Body -->
      <v-card-text>
        <v-form ref="form" lazy-validation v-model="valid">
          <v-container grid-list-md>
            <v-layout wrap>
              <!-- description -->
              <v-textarea v-model="description" outline light auto-grow box label="Comment" rows="2" :rules="[rules.min_description, rules.max_description]"></v-textarea>
            </v-layout>
          </v-container>
        </v-form>
      </v-card-text>

      <!-- Buttons for actions -->
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" flat @click="$emit('dialogChange', false)">Close</v-btn>
        <v-btn color="blue darken-1" flat @click="addComment">Add</v-btn>
      </v-card-actions>

    </v-card>
  </v-dialog>
</v-layout>
</template>

<script>
export default {
  name: "AddCommentDialog",

  props: {
    add_comment_dialog: Boolean
  },

  data() {
    return {
      valid: false,
      description: "",
      rules: this.$root.form_rules
    };
  },

  methods: {
    //Main function to add Comments
    addComment: function () {
      if (!this.$refs.form.validate()) return
      this.$emit("dialogChange", this.description) //close dialog in parent view
      this.description = ""
    }
  }
}
</script>

<style>
@media only screen and (max-width: 400px) {
  .v-navigation-drawer {
    width: 200px !important;
  }
}
</style>
