<template>
<v-layout row justify-center>
  <v-dialog v-model="add_dialog" max-width="600px">
    <v-card>

      <!-- Header -->
      <v-card-title>
        <span class="headline">{{ Case == 0 ? 'New Event' : 'Edit Event'}}</span>
        <v-spacer v-if="owner"></v-spacer>
        <span v-if="this.owner" style>
          <v-btn id="header_delte_btn" @click="default_dialog=!default_dialog" color="crimson">
            <font-awesome-icon id="header_delte_icon" icon="trash-alt" />
          </v-btn>
        </span>
      </v-card-title>

      <!-- delte event dialog -->
      <DefaultDialog :default_dialog="default_dialog" :Case="0" v-on:dialogChange="deleteEvent($event)"></DefaultDialog>

      <!-- Body -->
      <v-card-text>
        <v-form ref="form" lazy-validation v-model="valid">
          <v-container id="body_container" grid-list-md>
            <v-layout wrap>

              <!-- Name -->
              <v-flex xs12>
                <v-subheader class="pl-0">Name</v-subheader>
                <v-text-field v-model="name" :rules="rules.event_name"></v-text-field>
              </v-flex>

              <!-- Categories -->
              <v-flex xs12>
                <v-subheader class="pl-0">Category</v-subheader>
                <v-select :rules="[rules.min_categories, rules.max_description]" :items="store.getters.category_names()" v-model="category"></v-select>
              </v-flex>

              <!-- Age -->
              <v-flex xs12>
                <v-subheader class="pl-0">Min and Max Age</v-subheader>
                <v-range-slider v-model="age" :thumb-size="24" thumb-label="always" :max="99" :min="10" :step="1" always-dirty></v-range-slider>
              </v-flex>

              <!-- Member -->
              <v-flex xs12>
                <v-subheader class="pl-0">Max Members</v-subheader>
                <v-slider v-model="members" always-dirty :thumb-size="24" :max="50" :min="2" thumb-label="always" :step="1"></v-slider>
              </v-flex>

              <v-layout align-center>
                <!-- open switch -->
                <v-flex id="open_switch" xs6>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-switch v-model="open_switch" label="Open"></v-switch>
                    </template>
                    <span>Open = Everyone can join. If false, people have to apply with a message</span>
                  </v-tooltip>
                </v-flex>

                <!-- hidden switch -->
                <v-flex xs6>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                  <v-switch v-model="hidden_switch" label="Hidden"></v-switch>
                    </template>
                    <span>If hidden, this event will not be shown unless people have the direct link</span>
                  </v-tooltip>
                </v-flex>
              </v-layout>

              <!-- Date picker -->
              <v-flex xs12 sm6 md4>
                <v-dialog ref="dialogD" v-model="dmodal" :return-value.sync="date" persistent lazy full-width width="290px">
                  <v-text-field slot="activator" v-model="date" label="Date" prepend-icon="event" readonly></v-text-field>
                  <v-date-picker v-model="date" color="green lighten-1" header-color="primary" :min="minDate" :max="maxDate" id="datepicker">
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="dmodal = false">Cancel</v-btn>
                    <v-btn flat color="primary" @click="$refs.dialogD.save(date)">OK</v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-flex>

              <!-- Timer picker -->
              <v-flex xs11 sm5>
                <v-dialog ref="dialog" v-model="tmodal" :return-value.sync="time" persistent lazy full-width width="290px">
                  <v-text-field slot="activator" v-model="time" label="Time" prepend-icon="access_time" readonly></v-text-field>
                  <v-time-picker format="24hr" v-if="tmodal" v-model="time" full-width>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="tmodal = false">Cancel</v-btn>
                    <v-btn flat color="primary" @click="$refs.dialog.save(time)">OK</v-btn>
                  </v-time-picker>
                </v-dialog>
              </v-flex>

              <!-- Location  -->
              <span id="location-container">
                <v-subheader style="padding-left:0">Location </v-subheader>
                <vue-google-autocomplete @focus="focus()" @placechanged="getAddressData2" :country="['de']" ref="addressAdd" id="map2" class="form-input" enable-geolocation types="(cities)" placeholder="Location..">
                  <!-- add requirement for input v-on:no-results-found="..." v-on:change="noResults"-->
                </vue-google-autocomplete>
                <p id="locationNotFound" class="text-sm-left">
                  Location not found..
                </p>
              </span>

              <!-- description -->
              <span id="description">
                <v-textarea v-model="description" outline light auto-grow box label="Description" rows="2" :rules="[rules.min_description, rules.max_description]"></v-textarea>
              </span>

            </v-layout>
          </v-container>
        </v-form>
      </v-card-text>

      <!-- Buttons for actions Add -->
      <v-card-actions v-if="Case == 0">
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" flat @click="$emit('dialogChange', false)">Close</v-btn>
        <v-btn color="blue darken-1" flat @click="addEvent()">Add</v-btn>
      </v-card-actions>

      <!-- Buttons for actions Edit -->
      <v-card-actions v-if="Case == 1">
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" flat @click="$emit('dialogChange', false)">Close</v-btn>
        <v-btn color="blue darken-1" flat @click="editEvent()">Edit</v-btn>
      </v-card-actions>

    </v-card>
  </v-dialog>
</v-layout>
</template>

<script>
import {
  addEvent,
  getEvent,
  updateEvent
} from "@/mutables/social"
import DefaultDialog from "@/components/DefaultDialog"
import VueGoogleAutocomplete from "vue-google-autocomplete"
import store from "@/store"

export default {
  name: "AddDialog",

  components: {
    VueGoogleAutocomplete,
    DefaultDialog
  },

  props: {
    add_dialog: Boolean,
    event: Object,
    Case: Number, //Case 0 -> Add Event Case 1 -> Edit Event
    owner: Boolean
  },

  data: vm => {
    return {
      store,
      //form data
      valid: false,
      name: "",
      category: "",
      description: "",
      age: [10, 99],
      members: 2,
      min: new Date(),
      max: new Date(),
      rules: vm.$root.form_rules,
      hidden_switch: false,
      open_switch: true,
      //Date Picker
      date: new Date().toISOString().substr(0, 10),
      dmodal: false,
      minDate: " ",
      maxDate: " ",
      //Timer Picker
      time: "12:00",
      tmodal: false,
      //Google
      address2: [],
      dialog: false,
      readable_address: String,
      //For DefaultDIalog
      default_dialog: false
    }
  },

  // Sets date with min and max plus time 
  mounted: function () {
    var temp = new Date()
    var min = ""
    var max = ""
    min += temp.getFullYear() + "-"
    if (parseInt(temp.getMonth()) < 10) min += "0"
    min += temp.getMonth() + 1 + "-"
    if (temp.getDate() < 10) min += "0"
    min += temp.getDate()
    this.minDate = min

    max += temp.getFullYear() + 1 + "-"
    if (parseInt(temp.getMonth()) < 10) max += "0"
    max += temp.getMonth() + 1 + "-"
    if (temp.getDate() < 10) max += "0"
    max += temp.getDate()
    this.maxDate = max

    // Prefills the Edit dialog
    if (this.Case == 1) {
      this.copyEventdata()
    }
  },

  methods: {
    // Main function to add Events
    addEvent() {
      //If Google autocomplete doesn't work, get a message and return
      if (!this.$refs.form.validate() || this.address2.length == 0) {
        if (this.address2.length == 0) {
          document.getElementById("locationNotFound").style.display = "block"
          this.$store.commit("eat_toast", `Couldn't find location: ${error.message}`)
        }
        return
      }

      // close dialog in parent view
      this.$emit("dialogChange", false)

      var date1 = new Date()
      var date2 = new Date()
      var hour = parseInt(this.time.substr(0, 2))
      var minute = parseInt(this.time.substr(3, 2))
      date1.setHours(hour + 2)
      date1.setMinutes(minute)
      date1.setDate(parseInt(this.date.substr(8, 2)))
      date1.setMonth(parseInt(this.date.substr(5, 2)) - 1)
      date1.setFullYear(parseInt(this.date.substr(0, 4)))

      date2 = date1
      date2.setMonth = date1.getMonth + 1

      addEvent(
          this.name,
          this.description,
          date1,
          date2,
          this.category, {
            minimum: this.age[0],
            maximum: this.age[1]
          },
          [this.address2[0].toString(), this.address2[1].toString()],
          this.readable_address,
          !this.open_switch,
          this.hidden_switch,
          this.members
        )
        .then(async response => {
          this.$router.push({
            name: "user_events_created"
          }) //Redirect to home
        })
    },

    // Main function to edit Events
    editEvent: function () {
      if (!this.$refs.form.validate() || this.address2.length == 0) {
        if (this.address2.length == 0) {
          document.getElementById("locationNotFound").style.display = "block"
          this.$store.commit("eat_toast", `Couldn't find location: ${error.message}`)
        }
        return
      }

      //close dialog in parent view
      this.$emit("dialogChange", false)

      var date1 = new Date()
      var date2 = new Date()
      var hour = parseInt(this.time.substr(0, 2))
      var minute = parseInt(this.time.substr(3, 2))
      date1.setHours(hour + 2)
      date1.setMinutes(minute)
      date1.setDate(parseInt(this.date.substr(8, 2)))
      date1.setMonth(parseInt(this.date.substr(5, 2)) - 1)
      date1.setFullYear(parseInt(this.date.substr(0, 4)))

      date2 = date1
      date2.setMonth = date1.getMonth + 1

      updateEvent(
          this.event._id,
          this.name,
          this.description,
          date1,
          date2,
          this.category, {
            minimum: this.age[0],
            maximum: this.age[1]
          },
          [this.address2[0].toString(), this.address2[1].toString()],
          this.readable_address,
          !this.open_switch,
          this.hidden_switch,
          this.members
        )
        .then(async response => {
          this.$router.push({
            name: "user_events_created"
          }) //Redirect to home
        })
    },

    deleteEvent: function ($event) {
      this.default_dialog = !this.default_dialog
      if ($event == true) {
        this.$emit("deleteEvent", true)
        return
      }
    },

    // workaround to give a rules hint for the location field 
    resultChange: function () {
      document.getElementById("locationNotFound").style.display = "none"
    },

    // prefill function for the edit dialog
    copyEventdata: function () {
      this.name = this.event.title
      this.category = this.event.category
      this.age[0] = this.event.age_range.minimum
      this.age[1] = this.event.age_range.maximum
      this.members = this.event.limitation
      this.hidden_switch = this.event.hidden
      this.open_switch = !this.event.private
      this.date = new Date(this.event.date).toISOString().substring(0, 10)
      this.time = new Date(this.event.date).toISOString().substring(11, 16)
      this.readable_address = this.event.readable_address
      this.$refs.addressAdd.update(this.event.readable_address)
      this.description = this.event.description
    },

    //Methods for VueGoogleAutocomplete
    /**
     * When the location found
     * @param {Object} addressData //Data of the found location
     * @param {Object} placeResultData //PlaceResult object
     * @param {String} id  //Input container ID
     */
    getAddressData2: function (addressData) {
      this.readable_address = addressData.locality
      this.address2 = [addressData.latitude, addressData.longitude]
    },

    focus: function () {
      this.$refs.addressAdd.geolocate()
    }
  }
}
</script>

<style>
/* Header */
#header_delte_btn {
  background-color: crimson;
  min-width: 25px;
}

#header_delte_icon {
  font-size: 1.5em;
}

/* Body */
#body_container {
  padding: 1 0px;
}

#open_switch {
  margin-right: 5px;
}

#location-container {
  margin-bottom: 20px;
  margin-top: 15px;
  width: 100%;
}

#description {
  margin-top: 30px;
  width: 100%;
}

/*unflatten the date picker buttons(dates)*/
#datepicker table button {
  color: black !important;
}

#datepicker table td .v-btn--disabled {
  color: rgba(0, 0, 0, 0.26) !important;
}

/* Google */
#locationNotFound {
  display: none;
  width: 100%;
  font-size: 0.85em;
  color: red;
  font-weight: 400;
  opacity: 0.7;
  padding: 0;
  margin: 0;
}

#map2 {
  /* margin-bottom: 3px; padding-bottom: 4px; */
  border-bottom: 1px grey solid;
  width: 100%;
  padding: 0 0 8px;
  font-size: 1.2em;
  margin-bottom: 5px;
}

#map2:focus {
  outline: none;
  color: green;
  border-bottom: blue 2px solid !important;
}
</style>
