<template>
<v-flex xs12 id="card-container">

  <!-- Comments -->
  <v-card class="white--text full-height" color="blue-grey darken-2">

    <!-- Card upper section -->
    <v-card-title primary-title id="card-title">

      <!-- Avatar -->
      <v-list-tile-avatar id="upper_avatar" @click="profile">
        <v-img :src="myAvatar"> </v-img>
      </v-list-tile-avatar>&nbsp;

      <!-- Username -->
      <span id="upper_username" @click="profile">
        {{ user_data.username }}
      </span>

      <v-spacer />

      <!-- Delete Button -->
      <v-btn id="upper_delete_btn" v-if="this.owner || this.ownComment" @click="deleteComment()">
        <font-awesome-icon icon="eraser"></font-awesome-icon>
      </v-btn>

    </v-card-title>

    <!-- Card middle section -->
    <v-card-text style="padding:5px 15px 15px 15px">
      {{ text }}
    </v-card-text>

  </v-card>

</v-flex>
</template>

<script>
import {
  getUserProfile
} from "@/mutables/user"
import {
  deleteComment
} from "@/mutables/social"
import store from "@/store"

export default {
  name: "Comment",

  props: {
    _id: String,
    _by: String,
    text: String,
    owner: Boolean
  },

  components: {
    getUserProfile,
    deleteComment
  },

  data() {
    return {
      user_data: {
        username: "unknown" //default Wert
      },
      // render option
      own_comment: false
    }
  },

  methods: {
    // calls deleteComment request (server) and emits commentDeleted to parent view
    deleteComment: function () {
      deleteComment(this._id)
        .then(response => {
          this.$emit("commentDeleted", true)
        })
        .catch(error => {})
    },

    // router link to the suer profile of the comment owner
    profile: function () {
      this.$router.push({
        name: "profile",
        params: {
          id: this._by
        }
      })
    }
  },

  created() {
    getUserProfile(this._by)
      .then(response => {
        this.user_data = response.data
        if (user_data._id == store.getters.user_details._id) {
          this.own_comment = true
        }
      })
  },

  computed: {
    //Falls kein avatar / Profilbild vorhanden, mit 'logo.png' ersetzt
    myAvatar: function () {
      var avatar = this.user_data.avatar
      if (!avatar) {
        avatar = require("../assets/logo.png")
      }
      return avatar
    },

    // sets the 'owner' render option 
    ownComment: function () {
      if (this._by === store.getters.user_details._id) return true
      return false
    }
  }
}
</script>

<style>
/* Card upper section */
#card-title {
  font-size: 1.8em;
  padding: 10px 10px 5px 15px;
}

#upper_avatar {
  min-width: 40px;
}

#upper_username {
  font-size: .7em;
  max-width: 50%;
}

#upper_delete_btn {
  min-width: 25px;
  background-color: crimson;
  opacity: .85;
}

/* Card middle section */
#app>div>div.v-card__text {
  padding-bottom: 0;
}

/* MEDIA QUERIES */
@media only screen and (orientation: portrait) {
  .card-container {
    padding-top: 400px !important;
  }
}
</style>
