<template>
<v-layout row justify-center>
  <v-dialog v-model="this.default_dialog" persistent max-width="600px">
    <v-card>

      <!-- Header -->
      <!-- Case 0 -> Confirmdialog, Case 1 -> AppendDialog with Message, Case 2 -> KickOrBan -->
      <v-card-title>
        <!-- Case 0 -->
        <span v-if="Case == 0" class="headline">Confirm</span>
        <!-- Case 1 -->
        <span v-if="Case == 1" class="headline">Append</span>
        <!-- Case 2 -->
        <span v-if="Case == 2" class="headline">Kick/Ban User</span>
        <!-- Case 3 -->
        <span v-if="Case == 3" class="headline">Decline User</span>
      </v-card-title>

      <!-- Body -->
      <!-- Case 0 -->
      <v-card-text v-if="Case == 0">
        <p>Do you really want to delete this Event?</p>
      </v-card-text>

      <!-- Case 1 -->
      <v-card-text v-if="Case == 1">
        <v-form ref="form" lazy-validation v-model="valid">
          <v-container grid-list-md>
            <v-layout wrap>
              <!-- description -->
              <v-textarea v-model="description" outline light auto-grow box label="Message to the Owner.." rows="3" :rules="[rules.min_description, rules.max_description]"></v-textarea>
            </v-layout>
          </v-container>
        </v-form>
      </v-card-text>

      <!-- Case 2 -->
      <v-card-text v-if="Case == 2">
        <p>Do you really want to kick or ban the User?</p>
      </v-card-text>

      <!-- Case 3 -->
      <v-card-text v-if="Case == 3">
        <p>Do you really want to decline the User?</p>
      </v-card-text>

      <!-- Buttons for actions -->
      <v-card-actions>
        <v-spacer></v-spacer>
        <!-- Case 0 -->
        <v-btn v-if="Case == 0" color="blue darken-1" flat @click="$emit('dialogChange', false)">No</v-btn>
        <v-btn v-if="Case == 0" color="blue darken-1" flat @click="$emit('dialogChange', true)">Yes</v-btn>

        <!-- Case 1 -->
        <v-btn v-if="Case == 1" color="blue darken-1" flat @click="$emit('dialogChange', false)">Close</v-btn>
        <v-btn v-if="Case == 1" color="blue darken-1" flat @click="append()">Send</v-btn>

        <!-- Case 2 -->
        <v-btn v-if="Case == 2" color="blue darken-1" flat @click="$emit('dialogChange', false)">Close</v-btn>
        <v-btn v-if="Case == 2" color="blue darken-1" flat @click="$emit('dialogChange', 'kick')">Kick</v-btn>
        <v-btn v-if="Case == 2" color="blue darken-1" flat @click="$emit('dialogChange', 'ban')">Ban</v-btn>

        <!-- Case 3-->
        <v-btn v-if="Case == 3" color="blue darken-1" flat @click="$emit('dialogChange', false)">No</v-btn>
        <v-btn v-if="Case == 3" color="blue darken-1" flat @click="$emit('dialogChange', 'true')">Yes</v-btn>

      </v-card-actions>

    </v-card>
  </v-dialog>
</v-layout>
</template>

<script>
export default {
  name: "DefaultDialog",

  props: {
    Case: Number,
    default_dialog: Boolean
  },

  data() {
    return {
      //form data
      valid: false,
      description: "",
      //rules
      rules: this.$root.form_rules
    }
  },

  methods: {
    //Main function to add Events
    append: function () {
      if (!this.$refs.form.validate()) return
      //close dialog in parent view
      this.$emit("dialogChange", this.description)
    }
  }
}
</script>

<style>

</style>
