<template>
<v-flex xs12 id="card-container">

  <!-- Main Event as Card -->
  <v-card id="event_card" class="white--text" color="blue-grey darken-2">

    <!-- Card upper section -->
    <v-card-title primary-title id="card-title">
      <font-awesome-icon :icon="getEventIcon()" class="spacing-right"/>
      {{ event.title }}

      <v-spacer></v-spacer>

      <div id="address_md">
        <span v-if="event"> {{ event.readable_address.length > 14 ? (event.readable_address.substring(0, 14) + '..') : event.readable_address }} </span>
      </div>

      <div id="address_xs">
        <span v-if="event"> {{ event.readable_address.length > 8 ? (event.readable_address.substring(0, 8) + '..') : event.readable_address }} ></span>
      </div>
    </v-card-title>

    <!-- Card middle section -->
    <v-card-text>{{ event.description }}</v-card-text>

    <!-- Card lower section -->
    <v-card-actions id="event_card_lower">
      <v-layout row wrap>

        <!-- Details button -->
        <v-flex xs2>
          <v-btn id="details_btn" elevation="10" :to="{ 
                name: 'event_details', 
                params: { 
                  id: this.event._id,
                }
              }">
            <i class="material-icons small">info</i>
            Details
          </v-btn>
        </v-flex>

        <!-- right lower corner -> yourevent or favarite toggle -->
        <v-flex xs3 offset-xs7 class="text-xs-right">
          <v-btn-toggle v-if="!this.is_owner">
            <v-btn id="fav_btn" elevation="10" @click="changeFavorite()">
              <font-awesome-icon :color="isFavorite ? 'red' : 'black'" :icon="isFavorite ? [ 'fas', 'heart' ] : [ 'far', 'heart' ]" />
            </v-btn>
          </v-btn-toggle>
          <span id="yourevent_container" v-else>
            <p> Your Event </p>
          </span>
        </v-flex>

      </v-layout>
    </v-card-actions>

  </v-card>
</v-flex>
</template>

<script>
import {
  subscribeEvent,
  unsubscribeEvent,
  toggleFavorite
} from "@/mutables/social";
import store from "@/store";

export default {
  name: "EventItem",

  props: {
    event: Object
  },

  data() {
    return {
      store,
      // render options
      is_owner: false,
      is_subscribed: false
    }
  },

  computed: {
    isFavorite: function () {
      if (!store.getters.user_details.favorites) return false
      return store.getters.user_details.favorites.includes(this.event._id)
    }
  },

  created() {
    this.checkPriveledge()
  },

  methods: {
    // set the render options 
    checkPriveledge: function () {
      if (store.getters.user_details.subscriptions.includes(this.event._id)) {
        this.is_subscribed = true
      }

      if (typeof this.event._by == "object") {
        if (this.event._by._id === store.getters.user_details._id) {
          this.is_owner = true
        }
      } else {
        if (this.event._by === store.getters.user_details._id) {
          this.is_owner = true
        }
      }
    },

    //Emit change of favorite state to parent view
    changeFavorite: function () {
      toggleFavorite(this.event._id, !this.isFavorite)
        .then(response => {
          // for the favorites view
          this.$emit("favoriteChange", this.event._id)
          if (this.isFavorite == false) {
            store.commit("add_favorite", this.event._id)
          } else {
            store.commit("remove_favorite", this.event._id)
          }
        })
    },

    getEventIcon: function () {
      return store.getters.category_icon(this.event.category)
    }
  }
}
</script>

<style>
#event_card {
  height: 100%;
  width: 100%;
}

/* Card upper section */
#card-title {
  font-size: 1.6em;
  font-size: 1.3em;
  padding-top: 10px;
}

#address_xs {
  font-size: 0.7em;
}

#address_md {
  font-size: 0.7em;
  display: none;
}

/* Card middle section */
#app>div>div.v-card__text {
  padding-bottom: 0;
}

#details_btn {
  background-color: lightgray;
  font-size: .8em;
  padding: 0;
}

#details_btn i {
  font-size: 1.8em;
}

/* Card lower section */
#yourevent_container {
  color: red;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#yourevent_container p {
  vertical-align: middle;
  margin: 0;
  display: flex;
  align-items: flex-end;
}

#event_card_lower {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
}

/* favorite button styling */
#fav_btn {
  background-color: honeydew;
}

#fav_btn.v-btn--flat {
  color: black !important;
  opacity: 0.8 !important;
}

#fav_btn.v-btn--active:before,
.v-btn:hover:before,
.v-btn:focus:before {
  background-color: white;
}

#fav_btn.v-btn--active {
  color: black !important;
  opacity: 0.8 !important;
}

/* MEDIA QUERIES */
@media only screen and (orientation: portrait) {
  .card-container {
    padding-top: 400px !important;
  }
}

@media only screen and (min-width: 360px) {
  #address_xs {
    display: none;
  }

  #address_md {
    display: block !important;
  }
}
</style>
