<template>
<nav>
  <!-- Ich hab hier jetzt mal aufgeräumt. Vorher war die 4 mal so lang. ~Justin -->

  <!-- Top navigation bar-->
  <v-toolbar v-if="$route.name !== 'login' && $route.name !== 'register'" app>

    <!-- Upper Section -->
    <template v-if="$route.name === 'event_details'">
        <span class="side_icon_width"> 
					<font-awesome-icon @click="$router.back()" icon="arrow-left" /> 
				</span>
        <v-spacer></v-spacer>
        <v-toolbar-title class="navbar-title">{{ view_name }}</v-toolbar-title>
        <v-spacer></v-spacer>

    </template>

    <template v-else>
        <v-toolbar-side-icon class="side_icon_lines" @click="show_drawer=!show_drawer"></v-toolbar-side-icon>
        <v-spacer></v-spacer>
        <v-toolbar-title class="navbar-title">{{ view_name }}</v-toolbar-title>
        <v-spacer></v-spacer>   
    </template>

    <!-- Filter Button -->
    <v-btn v-if="$route.name === 'home'" icon @click="show_filters=!show_filters">
      <font-awesome-icon id="filter_btn_icon" icon="filter"></font-awesome-icon>
    </v-btn>

    <!-- dummy container for easy title alignment -->
    <span v-else class="side_icon_width"> </span>

    <!--Filter Extension -->
    <v-container v-if="$route.name === 'home'" id="filter_extension_container" slot="extension">
      <v-layout id="filter_extension_wrapper" row wrap>
        <!-- Mandatory wenn mind. eines muss -->
        <v-btn-toggle class="full-width" v-model="filters.categories" @change="filterChanged()" multiple>
          <v-flex v-for="(category, key) of store.getters.categories" :key="key" class="category-flex">
            <span :class="key === categories.length-1 ? 'none' : 'filter_extension_icon'">
              <v-btn :value="category.name" flat class="category">
                <font-awesome-icon :icon="category.icon" />
              </v-btn>
            </span>
          </v-flex>
        </v-btn-toggle>
      </v-layout>
    </v-container>
  </v-toolbar>

  <!-- Sidebar navigation (left)-->
  <v-navigation-drawer v-if="Object.keys(store.getters.user_details).length > 0" v-model="show_drawer" left app>

    <!-- Header -->
    <v-list class="pa-1">
      <router-link :to="{ name: 'profile', params: { id: store.getters.user_details._id } }" replace>
        <v-list-tile avatar @click="reload">
          <v-list-tile-avatar>
            <v-img class="avatar" :src="avatar"> </v-img>
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title>{{name }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </router-link>
    </v-list>

    <!--Body with router links-->
    <v-list dense class="aside-link">
      <v-divider></v-divider>

      <router-link :to="{ name: 'home' }">
        <v-list-tile @click="reload">
          <v-list-tile-action>
            <font-awesome-icon icon="home" />
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>Home</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </router-link>

      <router-link :to="{ name: 'user_events_created' }">
        <v-list-tile @click="reload">
          <v-list-tile-action>
            <font-awesome-icon icon="list-ul" />
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>My events</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </router-link>

      <router-link :to="{ name: 'user_events_subscribed' }">
        <v-list-tile @click="reload">
          <v-list-tile-action>
            <font-awesome-icon icon="calendar-alt" />
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>Subscribed events</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </router-link>

      <router-link :to="{ name: 'user_events_favorites' }">
        <v-list-tile @click="reload">
          <v-list-tile-action>
            <font-awesome-icon icon="heart" />
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>Favorites</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </router-link>

      <router-link :to="{ name: 'about' }">
        <v-list-tile @click="reload">
          <v-list-tile-action>
            <font-awesome-icon icon="question-circle" />
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>About</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </router-link>

      <v-list-tile :to="{ name: 'logout' }">
        <v-list-tile-action @click="reload">
          <font-awesome-icon icon="sign-out-alt" />
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>Logout</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>

  <!-- Filter drawer (right) -->
  <v-navigation-drawer v-if="$route.name === 'home'" v-model="show_filters" right app>

    <!-- Header -->
    <v-layout id="filterdrawer_header" row wrap align-center>
      <v-flex xs4>
        <font-awesome-icon icon="arrow-left" @click="filterChanged(true)" />
      </v-flex>

      <v-flex xs8>
        <span>
          <h3>Filter</h3>
        </span>
      </v-flex>
    </v-layout>

    <!--Body -->
    <v-list class="pt-0" dense>
      <v-divider></v-divider>

      <!-- open only switch -->
      <v-list-tile>
        <h3>Show only open events</h3>
      </v-list-tile>
      <v-list-tile class="filterBlock">
        <v-switch v-model="filters.show_open_only"></v-switch>
      </v-list-tile>

      <v-divider></v-divider>

      <!-- Location and distance input -->
      <v-list-tile id="location_title">
        <h3>Location and distance</h3>
      </v-list-tile>

      <v-list-tile class="filterBlock">
        <vue-google-autocomplete ref="address_filter" id="map" class="form-input" :country="['de']" enable-geolocation types="(cities)" placeholder="Location.." v-on:placechanged="getAddressData"></vue-google-autocomplete>
      </v-list-tile>

      <v-list-tile id="tolerance">
        <v-subheader id="tolerance_subheader" class="pl-0">{{ filters.location_tolerance }}km</v-subheader>
        <v-slider id="filterSlider2" v-model="filters.location_tolerance" :thumb-size="22" thumb-label="always" :max="100" :min="5" :step="5" always-dirty></v-slider>
      </v-list-tile>
      <br>
      <v-list-tile>
        <v-btn @click="filterChanged(true)" block color="green">Apply filters</v-btn>
      </v-list-tile>
      <v-list-tile>
        <v-btn @click="resetFilters()" block color="orange">Reset filters</v-btn>
      </v-list-tile>

    </v-list>

  </v-navigation-drawer>
</nav>
</template>

<script>
import {
  logout
} from "@/mutables/user"

import store from "@/store"
import VueGoogleAutocomplete from "vue-google-autocomplete"

export default {
  name: "Navbar",

  components: {
    VueGoogleAutocomplete
  },
  data() {
    return {
      store,
      // Google
      address_filter: "",
      address: "",
      // dialogs
      show_filters: false,
      show_drawer: false,
      // data
      slider: 45,
      categories: [],
      filters: {
        categories: [],
        location: [],
        show_open_only: false,
        location_tolerance: 5 // TODO: Connect this to the navbar thingy -> LATER!
      },
			view_name: '',
    }
  },

  created() {
		// Set avatar
		//this.avatar = this.store.getters.user_details.avatar || require('@/assets/logo.png')

		/* Watcher for avatar
    this.$store.watch(state => state.user_details.avatar, () => {
      this.avatar = this.store.state.avatar
		}) */
		
		// Watcher for page
    this.$store.watch(state => state.current_view, () => {
      this.view_name = this.$store.state.current_view
		})
		
		// Initial filters
    this.categories = store.getters.category_names()		
		if (Object.keys(this.$store.getters.user_details).length > 0) this.filterChanged()
  },

  watch: {
    $route(to, from) {
      this.show_filters = false
      this.show_drawer = false
    }
  },

  computed: {
    name: function () {
      return this.store.getters.user_details.username
    },
    avatar: function () {
      return this.store.getters.user_details.avatar || require('@/assets/logo.png')
    }
  },

  methods: {
    reload: function () {
      this.show_drawer = false
    },
		resetFilters() {
			this.filters.categories = []
			this.filters.location = []
			this.filters.location_tolerance = 5
			this.filters.show_open_only = false
			this.filterChanged(true)
		},
    filterChanged(toggle) {
			if (toggle) this.show_filters = !this.show_filters
      this.$emit("updateEvents", this.filters)
    },
    getAddressData: function (addressData) {
      this.filters.location = [addressData.latitude, addressData.longitude]
    }
  }
}
</script>

<style>
@font-face {
  font-family: "pacifico";
  src: url("../assets/fonts/Pacifico.ttf");
}

/* ------------------ Toolbar ------------------*/

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space from lower toolbar */
  background: transparent;
  /* optional: just make scrollbar invisible*/
}

#toolbar>div {
  padding-left: 8px;
  padding-right: 6px;
}

.toolbar_small {
  text-align: center;
}

.side_icon_width {
  width: 36px;
}

.navbar-title {
  font-weight: bold;
  font-size: 1.8em !important;
  padding: 5px !important;
  color: rgb(255, 99, 71);
  font-family: pacifico !important;
  margin: 0px !important;
  overflow: visible;
}

#case1_sideicon {
  position: absolute;
  left: 0;
  top: -60%;
}

nav a {
  text-decoration-line: none !important;
  color: inherit !important;
}

#filter_btn_icon {
  font-size: 1.5em;
}

.avatar {
  object-fit: scale-down !important;
}

/* Filter extension */
#filter_extension_container {
  margin: auto;
  padding: 10px 0px 15px 0px;
}

#filter_extension_wrapper {
  padding: 0;
  background-color: white;
}

.filter_extension_icon {
  border-right: 1px black solid;
}

.category {
  width: 100% !important;
}

.category-flex {
  width: 100%;
  height: 100%;
}

.v-btn--flat {
  color: lightgray !important;
  opacity: 0.8 !important;
}

.v-btn--active:before,
.v-btn:hover:before,
.v-btn:focus:before {
  background-color: white;
}

.v-btn--active {
  color: black !important;
  opacity: 0.8 !important;
}

.category {
  background-color: white;
}

.v-toolbar__extension {
  padding: 0;
}

/* Gets rid of the shadow effect, after undo the Button */
.v-btn--active:before,
.v-btn:focus:before {
  opacity: 0.4;
}

.v-btn:hover:before,
.v-btn:hover {
  background-color: white;
}

/* --------------- Menu drawer -------------*/
.menu-link {
  font-size: 1.3em !important;
}

.menu-link-container:hover {
  background-color: lightgrey;
}

.side_icon_lines:active {
  transform: rotate(90deg);
}

.aside-link .v-list__tile__content,
.aside-link .v-list__tile__action {
  font-size: 1.3em;
}

.v-list__tile__action {
  min-width: 40px;
}

/*------------------ Filter drawer -------------- */
#filterdrawer_header {
  box-shadow: 0px 6px 21px 0px rgba(0, 0, 0, 0.75);
  font-size: 1.3em;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#location_title {
  margin-bottom: 10px;
}

#tolerance {
  margin-top: 5px;
}

#tolerane_subheader {
  width: 25%;
}

#map {
  border-bottom: 1px grey solid;
  width: 100%;
  padding: 8px 0 8px;
  font-size: 1.2em;
  margin-bottom: 30px;
}

#map:focus {
  outline: none;
  color: green;
  border-bottom: blue 2px solid !important;
}

.filterBlock {
  margin-top: 0px;
}

#filterSlider2 {
  padding-top: 20px;
  width: 80%;
}

h4 {
  margin-bottom: 0;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 400px) {
  .v-navigation-drawer {
    width: 200px !important;
  }
}
</style>
