<template>
<div class="text-center">
  <v-snackbar v-model="snackbar" :multi-line="true" :timeout="timeout">
    <p>{{ text }}</p>
    <v-btn color="red" text @click="snackbar = false">
      Close
    </v-btn>
  </v-snackbar>
</div>
</template>

<script>
export default {
  data: () => ({
    snackbar: false,
    text: "",
    timeout: 5000
  }),
  created: function () {
    this.$store.watch(state => state.toast, () => {
      const msg = this.$store.state.toast
      if (msg !== '') {
        this.text = msg
        this.snackbar = true
        //this.$store.commit('eat_toast', '')
      }
    })
  },
}
</script>
