/* globale styles */
.spacing-right {
	margin-right: 25px!important;
}
.eventitem {
  border-bottom: 2px solid white;
}

.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

/* nur wenn für alle nützlich listen */
.list-style {
  padding: 0;
}

/* Lists with Events */
.event-list-container {
  margin: 0; 
  padding: 0;
}

/* Placeholdertext on list views */
.empty_text {
  margin: auto;
  margin-top :30px;
  text-align: center;
  padding: 0 30px;
}
