<template>
<v-app style="background-color:white; opacity: 1">
  <v-content>
    <Navbar @updateEvents="updateEvents"></Navbar>
    <Toast></Toast>
		<transition>
    <router-view></router-view>
		</transition>
  </v-content>
</v-app>
</template>

<script>
import Toast from "@/components/Toast"
import Navbar from '@/components/Navbar'
import {getFilteredEvents} from '@/mutables/social'
export default {
  name: 'App',
  components: {
    Navbar,
    Toast
  },
  data() {
    return {
      events: []
    }
  },

  methods: {
    // upadetes the event list when changing filters in navbar
    updateEvents: function ($event) {
      if (!$event || $event.categories.length === 0) {
				this.events = []
				return
			} 
      getFilteredEvents(
          $event.categories,
          $event.show_open_only,
          $event.location,
          $event.location_tolerance,
          this.page
        )
        .then(response => {
          this.events = response.data
        })
        .catch(error => {
          if (error.status !== 404) this.$store.commit("eat_toast", `Couldn't fetch events: ${error.message}`)
        })
    }
  }
}
</script>
